.background {
  background-image: url("https://aka-cdn.adtechus.com/apps/73/Ad0St3Sz5112Sq0V0Id26745417/Commenter_Background_White_170420.jpg" );
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
  background-repeat: no-repeat;
}

.contact__forms {
  float: right;
  margin-right: 150px;

} 


.li__form {
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
  width: 360px;
  min-height: 550px;
  z-index: 1;
  padding: 0 5px;
  border-top: 1px solid #f1f1f5;
  position: relative;
  left: 65%;
  margin-top: 5%;
}

.li__title {
  text-align: center;
  background-color: rgb(19, 146, 19);
  padding: 5px;
}


input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px 0px;
  border: solid 1px;
}

input[type="submit"]{
  background: black;
  color: white;
  font-size: 1.2rem;
  padding:13px 20px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 80px;
}

input[type="submit"]:hover{
  background: rgb(19, 146, 19);
  color: white;
}
label {
  width: 100% 
}  
  
.contact {
  background: radial-gradient(circle, rgba(0,165,98,1) 0%, rgba(0,177,0,1) 35%);
  text-align: center;
  margin-top: 5%;
  margin-bottom: -38.2%;
  padding: 10px 0px;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .li__form {
    background-color: white;
    top: 0;
    left: 0;
    width: auto;
    padding: 20px;
  }
  .contact h2 {
    font-size: medium;
  }
  label {
    width: 100%;
  }
  .quickLinks h3 {
    font-size: 1.7rem;
  }
  .quickLinks li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .li__form {
    background-color: white;
    top: 0;
    left: 0;
    width: auto;
    padding: 20px;
  }
  .contact h2 {
    font-size: small;
  }
}
@media screen and (max-width: 800px) {
  .li__form {
    background-color: white;
    top: 0;
    left: 0;
    width: auto;
    padding: 20px;
  }
  .contact h2 {
    font-size: medium;
  }
}